@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.ttf') format('truetype'),
  url('../fonts/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

$col1: #2d3136;
$col2: #be393b;
$col3: #d7d7d7;

body {
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-size: 43px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 70px;
}
.btn {
  background: $col2;
  font-size: 34px;
  font-weight: 700;
  padding: 20px 40px;
  margin-top: 30px;
  &, &:hover {
    color: #fff;
  }
}

.c-form {
  background: $col1;
  color: $col3;
  padding: 60px 0 100px;
  &__ico {
    width: 280px;
    height: 280px;
    margin: 90px auto 25px;
    img {
      max-width: 100%;
    }
  }
  label {
    font-size: 34px;
    font-weight: 500;
  }
  .required {
    label {
      position: relative;
      &::after {
        content: '*';
        position: absolute;
        top: -5px;
        right: -35px;
        //margin-left: 10px;
        font-size: 1.2em;
        color: $col2;
      }
    }
  }
  input, textarea {
    height: auto;
    font-size: 30px;
    line-height: 2;
    border: 2px solid #4c4f53;
    border-radius: 8px;
    margin-bottom: 75px;
    &, &:focus {
      background: transparent;
      box-shadow: none;
      color: $col3;
    }
    &:focus {
      border-color: $col3;
    }
  }
  textarea {
    height: 100%;
  }
  .invalid-feedback {
    position: absolute;
    bottom: -30px;
    color: $col2;
  }
  .form {
    &-group {
      margin-bottom: 75px;
      position: relative;
      &_textarea {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        height: 100%;
        .invalid-feedback {
          bottom: 45px;
        }
      }
    }
    &-control {
      padding: 20px 30px;
      .was-validated &:invalid,
      &.is-invalid {
        border-color: $col2;
      }
    }
  }

}

.c-footer {
  background: #2a2d33;
  padding: 35px 0 55px;
}
.c-items {
  padding: 135px 0;
}
.c-card {
  text-align: center;
  padding: 35px 15px;
  &:nth-child(2n) {
    .c-card {
      &__header {
        background: #58ad52;
      }
      &__body {
        background: #deebde;
      }
      &__email {
        color: #58ad52;
      }
      &__txt {
        color: #768275;
      }
    }
  }
  &:nth-child(2n+1) {
    .c-card {
      &__header {
        background: #4b596c;
      }
      &__body {
        background: #e9eef3;
      }
      &__email {
        color: #6d737b;
      }
      &__txt {
        color: #767582;
      }
    }
  }
  &__container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__header {
    background: $col1;
    color: #f6f6f7;
    font-size: 34px;
    font-weight: 500;
    padding: 15px;
  }
  &__body {
    padding: 45px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
  }
  &__email {
    font-weight: 700;
    font-size: 30px;
    margin: 0;
    width: 100%;
    align-self: start;
  }
  &__txt {
    font-weight: 500;
    font-size: 30px;
    width: 100%;
    line-height: 1.1;
    margin: 15px 0 65px;
  }
}
.c-social {
  font-family: "fontello";
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  a {
    border: 3px solid #444548;
    border-radius: 50%;
    background: #2f3338;
    color: #656565;
    text-decoration: none;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    &:hover {
      color: #797979;
      border-color: #4b4b4b;
    }
  }
}
.main-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (max-width: 575px) {
  .main-row {
    margin: 0;
  }
  .c-form label {
    font-size: 28px;
  }
  .btn {
    font-size: 28px;
  }
  h2 {
    font-size: 34px;
  }
  .c-footer__logo {
    margin-bottom: 30px;
  }
}